@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.body_content{
    margin: 0 7%;
	
}

body{
	background-color: white;
}

.font_fame{
    font-family: 'Inconsolata', monospace;
}

.bars_img img{
    float: right;
    width: 40%;
    position: relative;
}

.bars_text{
    width: 50%;
    padding-top: 30px;
}

.bars_block{
    height: 350px;
    
}

.bars_text .cnt__btn{
    text-align: center;
}

.bars_text .relative{
    margin-top: 10px;
}

.main_content{
    text-align: center;
    margin-top: 50px;
}

.list_li{
    text-align: left;
}

.stage_textcols {
	white-space: nowrap;
	font-size: 0;
}
.stage_textcols .textcols-item {
	white-space: normal;	
	display: inline-block;
	width: 20%;
	vertical-align: top;
	margin-right: 5%;
	font-size: 18px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}
.stage_textcols  .textcols-item:last-child {
	margin-right: 0 ;
}

.application{
    text-align: center;
}

.input_app{
    padding: 0 0 0 10px;
    font-size: 18px;
    height: 60px; 
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
	margin: 10px 10px 20px 0;
}

.formm{
	max-width: 1000px;
	margin: 0 auto;
}

.input_app.wd{
	width: 100%;
}

.input_app.ss{
	margin-top: 25px;
	
}

.phone__w100{
    margin-bottom: 10px;
}

@media (max-width: 1250px){
    .input_app.left{
        margin: 10px 0px 20px 0;
    }

    .input_app.right{
        margin: 10px 0 20px 0px;
    }
}



.select2-container--default .select2-selection--single{
    text-align: left;
    padding-top: 13px;
    padding-left: 12px;
    font-size: 18px;
    height: 60px;
    width: 100%;
    font-weight: 400;
    border-radius: 4px;
    /* margin: 10px 0 30px 10px; */
    border: 1px solid #c9c9c9;
    color: #757575;
    
}

.select2 .select2-container.select2-container--default {
    width: 0px;
}

/* .select2-container--default .select2-dropdown .select2-dropdown--below{
    width: 530px;
}

.select2-container--default .select2-dropdown .select2-dropdown--above{
    width: 530px;
} */

.select2-container--default .select2-selection--single .select2-selection__arrow {
    color: #000;
    padding-top: 35px;

}

.block_content{
	width: 100%;
	min-height: 200px;
	padding-bottom: 150px;
}

.block_content img{
	max-width: 400px;
	float: right;
}


.list_li img{
	max-width: 400px;
	float: right;
}

.block_content.a img{
	max-width: 400px;
	float: right;
	top: 0;
}

.block_content.b img{
	max-width: 400px;
	float: left;
	top: 0;
}

.block_content.c img{
	max-width: 400px;
	float: right;
	top: 0;
}

.block_content.d img{
	max-width: 400px;
	float: left;
	top: 0;
}

.block_content.e img{
	max-width: 400px;
	float: right;
	top: 0;
}

.textcols-item.midl{
	width: 300px;
}

.textcols-item{
	height: 350px;
}

.flex-auto.relative{
	text-align: center;
	margin-top: 15px;
}

.forms_form{
    padding-left: 120px;
    padding-right: 120px;
}