h1{
    text-align: center;
}

body{
	background-color: white;
}


.info__card{
    margin-top: 50px;
    font-size: 32px;
    line-height: 35px;
    vertical-align: middle;
}
.card_main{
    font-size: 32px;
    display: flex;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    padding: 25px 89px 60px 38px;
    line-height: 25px;
}
.card_click{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 400px;
    background-color: #f6f6f6;
    margin: 0px auto;
}
.image img{
    vertical-align: middle;
    width: 400px;
    height: 400px;
    padding: px px px px;
    margin: px 10px px 40px;
    margin-right: -125px;
    /* float: right;
    width: 35%;
    position: relative; */

}
.btn{
    margin-top: 10px;
    background: #00b2a9;
    border-radius: 5px;
    color: #FFFFFF;
    line-height: 20px;
	border: none;
}
.btn:hover, .btn:active{
    background: #00b2b1;
}

h2{
    text-align: center;
}
.gr img{
    max-width: 1000px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.if img{
    max-width: 1000px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    margin: 0px auto; 
	margin-top: 30px;
}

#practiceCircumstances{
	margin-top: 30px;

}

input{
    height: 45px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;
}
.form_card{
    background: radial-gradient(148.06% 491.36% at 96.98% 115.9%, rgba(168, 168, 168, 0.77) 0%, rgba(175, 175, 175, 0) 100%) ;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 38px;
    justify-content: center;
    margin: 0px auto;
    margin-top: 35px;
    margin-bottom: 20px;

}
.form_field{
    margin-bottom: 13px;
}
.btn{
    display: block;
    height: 35px;
    background: #00b2a9;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.btn:hover{
    background-color: aqua;
}
select#course{
    height: 45px;
    width: 1031px;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;
    color: #929394;
}
.mybut{
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
}

.stepsToWriteIn{
	margin: 20px 7%;
	text-align: center;
	font-size: 20px;
}

#stepsToWriteIn{
	margin: 0 7%;
	
}

.forms_form{
	text-align: center;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 500px;
	background-color: #f6f6f6;
	border-radius: 2%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.forms_form input{
	margin-top: 15px;
	width: 400px;
}

.dropezone{
	margin-top: 15px;
}

.batton{
	margin: 0 auto;
    display: block;
    height: 35px;
    background: #18B8DB;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
	border: none;
	margin-top: 15px;
}
.batton:hover{
    background-color: aqua;
}

#sdropZone{
	margin-top: 15px;
}
