h1{
    text-align: center;
}

body{
	background-color: white;
}


.info__card{
    margin-top: 50px;
    font-size: 32px;
    line-height: 35px;
    vertical-align: middle;
}
.card_main{
    font-size: 32px;
    display: flex;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    padding: 25px 89px 60px 38px;
    line-height: 25px;
}
.card_click{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 400px;
    background-color: #f6f6f6;
    margin: 0px auto;
}
.image img{
    vertical-align: middle;
    width: 400px;
    height: 400px;
    padding: px px px px;
    margin: px 10px px 40px;
    margin-right: -125px;
}


h2{
    text-align: center;
}
.gr img{
    max-width: 1000px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.if img{
    max-width: 1000px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    margin: 0px auto; 
	margin-top: 30px;
}

#practiceCircumstances{
	margin-top: 30px;

}

input{
    height: 45px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    text-indent: 15px;
}
.form_card{
    background: radial-gradient(148.06% 491.36% at 96.98% 115.9%, rgba(168, 168, 168, 0.77) 0%, rgba(175, 175, 175, 0) 100%) ;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 38px;
    justify-content: center;
    margin: 0px auto;
    margin-top: 35px;
    margin-bottom: 20px;

}
.form_field{
    margin-bottom: 13px;
}

select#course{
    height: 45px;
    width: 1031px;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;
    color: #929394;
}


.stepsToWriteIn{
	margin: 20px 7%;
	text-align: center;
	font-size: 20px;
}

#stepsToWriteIn{
	margin: 0 7%;
	
}

.dropezone{
	margin-top: 15px;
}

.batton{
	margin: 0 auto;
    display: block;
    height: 35px;
    background: #18B8DB;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
	border: none;
	margin-top: 15px;
}
.batton:hover{
    background-color: aqua;
}

#sdropZone{
	margin-top: 15px;
}

/* drag and drop - "hover" */
.upload-file__label.hover .upload-file__text {
    color: #ffb300;
}
.upload-file__label.hover .upload-file__icon path {
    fill: #ffb300;
}
.upload-file__label.hover {
    border: 2px dashed #ffb300;
}

/* drag and drop - ошибка */
.upload-file__label.error .upload-file__text {
    color: #d32f2f;
}
.upload-file__label.error .upload-file__icon path {
    fill: #d32f2f;
}
.upload-file__label.error {
    border: 2px dashed #d32f2f;
}

/* drag and drop - файл(ы) успешно перетянут(ы) */
.upload-file__label.drop .upload-file__text {
    color: #388e3c;
}
.upload-file__label.drop .upload-file__icon path {
    fill: #388e3c;
}
.upload-file__label.drop {
    border: 2px dashed #388e3c;
}

.border{
    background: #f6f6f6 ;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    max-width: 600px;
    padding-left: 30px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    margin: 0px auto;
    margin-top: 35px;
    margin-bottom: 20px;
}
.forms_form{
	padding: 0;
}