.card img{
    width: 280px;
    height: 300px;    
}

.card-body{
    height: 250px;
}

.col{
    position: absolute;
    margin-bottom: 50px;
    margin-top: 15px;
    text-align: center;

}

.imgcard{
    text-align: center;
    height: 50%;
}

.card_button{
  height:20%
}

.description{
  height: 80%;
}

.ofic{
        display: block;
    }
